.input-group {
    /* position: relative; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-left: 50px;
}

.table {
  width: 95%;
}

.table th {
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}



.addBtn {
    background-color: #D75757;
    border: none;
    color: white;
    width:70px;
}

.table-title{
    text-align: center;
}