[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymongo = "==3.12.3"
dnspython = "*"
mongoengine = "*"
djongo = "*"
pytz = "*"
install = "*"
django-neomodel = "*"

[dev-packages]

[requires]
python_version = "3.10"
