{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}"/>
    <body>


    <h3 class="title">Search by Username</h3>
    <div class="input-group">
        <form action="{% url 'browse_users' %}" method="get">
            <input name="q" class="form-control rounded" type="text" placeholder="Search...">
        </form>
    </div>

    <table class="table mx-5">
        <tbody>
            {% for profile in users %}
            <tr class="align-items-center">
                <th scope="row">
                    <a href="{% url 'user_profile' profile.id %}"
                        class="text-decoration-none text-dark">
                        {{ profile }}
                    </a>
                </th>
    
                <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                <td> Upcoming: {{ profile.upcomingEvent|default:'None' }}</td>
                <td>Past Events: {{ profile.pastEvent|default:'None' }}</td>
                <td>{{ profile.bio }}</td>
                <td class="ml-5">
                    {% if profile in friends %}
                    <form class="" method="POST"
                            action="{% url 'remove' profile.id %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="btn btn-danger rounded-0 py-1 px-2 my-3">
                            Remove
                        </button>
                    </form>
                    {% else %}
                        <form method="POST" 
                                action="{% url 'add' profile.id %}">
                            {% csrf_token %}
                            <button type="submit" 
                                    class="btn btn-danger rounded-0 py-1 px-2 my-3">
                                Add
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    </body>
{% endblock %}

