.title {
    margin-top:40px;
    margin-left: 50px;
}

.circle {
    background-color: #FF8686;
    width: 40px;
    height: 40px;
    border-width: 0px;
    border-radius: 60px;
    text-align: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}