
.table {
    margin-left: 50px;
    width:70%;
    border: 1px solid #dee2e6;


}

.input-group {
    /* position: relative; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 70%;
    margin-left: 50px;
}

.addBtn {
    background-color: #D75757;
    border: none;
    color: white;
    width:70px;
}

.landing-tables {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.table-title{
    text-align: center;
}