
.title {
    margin-top:40px;
    margin-left: 50px;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;
    background-color: black;
}

.navbarcontents {
    white-space: nowrap;
    margin-top: 6px;

}

.navbarText {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6px;
}

.circle {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin: 6px 20px;
}

.table {
    margin-left: 50px;
    width:70%;

}

.input-group {
    /* position: relative; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 70%;
    margin-left: 50px;
}

.addBtn {
    background-color: #D75757;
    border: none;
    color: white;
    width:70px;
}