{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}"/>
    <body>


    <h3 class="title">Search by Event Name</h3>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

    </div>

    <table class="table">
        <tbody>
        <tr>
            <td> Picnic at the Park </td>

            <td>David Zhang</td>
            <td>March 29th, 2021 at 10PM</td>
            <td>123 Some Street, Boston MA 02115</td>
            <td>
                <button type="button" class="addBtn">Attend</button>
            </td>  </tr>
        <tr>
        <tr>
            <td> Picnic at the Park </td>

            <td>David Zhang</td>
            <td>March 29th, 2021 at 10PM</td>
            <td>123 Some Street, Boston MA 02115</td>
            <td>
                <button type="button" class="addBtn">Attend</button>
            </td>  </tr>
        <tr>
            <td> Picnic at the Park </td>

            <td>David Zhang</td>
            <td>March 29th, 2021 at 10PM</td>
            <td>123 Some Street, Boston MA 02115</td>
            <td>
                <button type="button" class="addBtn">Attend</button>
            </td>  </tr>
        <tr>
            <td> Picnic at the Park </td>

            <td>David Zhang</td>
            <td>March 29th, 2021 at 10PM</td>
            <td>123 Some Street, Boston MA 02115</td>
            <td>
                <button type="button" class="addBtn">Attend</button>
            </td>  </tr>
        </tbody>

    </table>

    </body>
{% endblock %}

