{% extends 'base.html' %}
{% load static %}
{% load event_extras %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'events/styles.css' %}"/>
    <body>

    <div class="row">
        <h3 class="title col">Search by Event Name</h3>
        <form action="{% url 'new_event' %}">
            <button class="ml-auto mr-5 mt-5 mb-2 col-auto attendBtn">Create</button>
        </form>
    </div>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

    </div>

    <table class="table mx-5">
        <tbody>
        {% for event_datum in event_data %}
            {% with event=event_datum.0 %}
                <tr>
                    <td><a style="color: inherit;" href="{% url 'show' event.id %}">{{ event.name }}</a></td>
                    <td>{% render_date event.date_of_occurrence %}</td>
                    <td>{% render_location event.location %}</td>
                    <td>
                        <form method="post" action="{% url 'attend' event.id %}">
                            {% csrf_token %}
                            <button type="submit" class="attendBtn" {% if event_datum.1 %} disabled {% endif %} >Attend{% if  event_datum.1 %}ing{% endif %}</button>
                        </form>
                    </td>
                </tr>
                <tr>
            {% endwith %}
        {% endfor %}
        </tbody>

    </table>

    </body>
{% endblock %}

