{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}"/>

    <div class="container py-3">        
        <div class="row">
            <!-- Left column -->
            <div class="col-6 pe-5">
                <div class="row m-0 pb-4 border-bottom">
                    <div class="col p-0">
                        <h4 class="pb-2">
                            <span class="h1">
                                <strong>{{profile.user.first_name}} {{profile.user.last_name}}&nbsp;</strong>
                            </span>
                            <span class="text-muted">{{profile}}</span>
                        </h4>

                        {% if profile.user.id == user.id %}
                            <form method="POST" 
                                  action="{% url 'update_bio' %}">
                                {% csrf_token %}
                                {% if profile.bio %}
                                    <textarea name="biography" 
                                              cols="45" rows="3"
                                              placeholder="Add a biography" 
                                              class="p-2 border-0 bg-light">{{profile.bio}}</textarea>
                                    <br/>
                                    <input type="submit" value="Edit" class="btn btn-danger py-1 px-2 my-1 rounded-0">
                                {% else %}
                                    <textarea name="biography" 
                                              cols="45" rows="3"
                                              placeholder="Add a biography" 
                                              class="p-2 border-0 bg-light"></textarea>
                                    <br/>
                                    <input type="submit" value="Save" class="btn btn-danger py-1 px-2 my-1 rounded-0">
                                {% endif %}
                                
                            </form>
                        {% else %}
                            {% if profile.bio %}
                                <h5>{{profile.bio}}</h5>
                            {% else %}
                                <h5 class="text-secondary">This user has no biography.</h5>
                            {% endif %}
                        {% endif %}

                        {% if profile.user.id != user.id %}
                            {% if is_friend %}
                            <form method="POST" 
                                  action="{% url 'remove' profile.id %}">
                                {% csrf_token %}
                                <button type="submit" 
                                        class="btn btn-danger rounded-0 py-1 px-2 my-3">
                                    Remove friend
                                </button>
                            </form>
                            {% else %}
                                <form method="POST" 
                                      action="{% url 'add' profile.id %}">
                                    {% csrf_token %}
                                    <button type="submit" 
                                            class="btn btn-danger rounded-0 py-1 px-2 my-3">
                                        Add friend
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <!-- Friends block -->
                <div class="row pt-4">
                    <div class="col">
                        <h2 class="pb-2">Friends</h2>
                        {% if profile.user.id == user.id %}
                            <a href="{% url 'browse_users' %}"
                                class="text-decoration-none">
                                <button class="btn btn-danger rounded-0 py-1 px-2 my-2">
                                    Find friends
                                </button>
                            </a>
                        {% endif %}
                        {% if friends %}
                            <div class="w-100 shadow">
                                {% for friend in friends %}
                                    <a href="{% url 'user_profile' friend.id %}"
                                        class="text-decoration-none text-dark">
                                        <div class="row m-0 p-3 w-100 border-bottom align-items-center justify-content-between">
                                            <div class="pe-3">
                                                {{friend.user.first_name}} {{friend.user.last_name}}
                                            </div>
                                            <div class="ps-3 float-right">
                                                {% if profile.user.id != user.id %}
                                                    <span class="text-danger">View profile</span>
                                                {% else %}
                                                    <form method="POST" action="{% url 'remove' friend.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-danger rounded-0 py-1 px-2 my-3">
                                                            Remove
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                                </div>
                        {% else %}
                            {% if profile.user.id == user.id %}
                                <h5 class="text-danger mt-3">Attend some events to meet new people!</h5>
                            {% else %}
                                <h5 class="text-secondary mt-3">This user has no friends.</h5>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Right column / Events block -->
            <div class="col-6 ps-5">
                <h2 class="py-2">Upcoming Events</h2>
                {% if profile.user.id == user.id %}
                    <a href="{% url 'browse_events' %}"
                        class="text-decoration-none">
                        <button class="btn btn-danger rounded-0 py-1 px-2 my-2">
                            Browse events
                        </button>
                    </a>
                {% endif %}
                {% if upcoming_events %}
                    <div class="w-100 shadow">
                        {% for event in upcoming_events %}
                            <a href="{% url 'show' event.id %}"
                                class="text-decoration-none text-dark">
                                <div class="row border-bottom m-0 p-3 align-items-center justify-content-between">
                                    <div class="pe-3">
                                        <h5 class="p-0"><strong>{{event.name}}</strong></h5>
                                        <p class="m-0 text-muted">{{event.date_of_occurrence}}</p>
                                        <p class="m-0 text-muted">
                                            Hosted by {{event.creator.user.first_name}} {{event.creator.user.last_name}}
                                        </p>
                                    </div>
                                    <div class="ps-3 float-right">
                                        {% if profile.user.id != user.id %}
                                            <span class="text-danger">View Event</span>
                                        {% else %}
                                            <form method="POST" action="{% url 'leave' event.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-danger rounded-0 py-1 px-2 my-3">
                                                    Leave
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% elif profile.user.id == user.id %}
                    <h5 class="text-danger mt-3">Add some friends to find new events to go to</h5>
                {% else %}
                    <h5 class="text-secondary mt-3">This user has no upcoming events.</h5>
                {% endif %}

                {% if past_events %}
                    <h2 class="pt-5 pb-2 text-muted">Past Events</h2>
                    <div class="w-100 shadow">
                        {% for event in past_events %}
                            <a href="{% url 'show' event.id %}"
                                class="text-decoration-none text-muted">
                                <div class="row border-bottom m-0 p-3 align-items-center justify-content-between">
                                    <div class="pe-3">
                                        <h6 class="p-0"><strong>{{event.name}}</strong></h6>
                                        <p class="m-0 text-muted">{{event.date_of_occurrence}}</p>
                                        <p class="m-0 text-muted">
                                            Hosted by {{event.creator.user.first_name}} {{event.creator.user.last_name}}
                                        </p>
                                    </div>
                                    <div class="ps-3 float-right">
                                        <span class="text-danger">View Event</span>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}