<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
{% block content %}
    <body>
    <nav class="navbar">
        <a class="navbarcontents" href="#">
            <p style="color:white; font-size: 20px; padding: 10px"> NEU Friends</p>
        </a>

        <div class="navbarText">
            <p style="color: white; font-size: 20px; padding: 10px;"> Users</p>
            <p style="text-align: right; color: white; font-size: 20px; padding: 10px;"> Events</p>
            <div class="circle">
                <p style="padding:8.5px">
                    DS
                </p>
            </div>

        </div>

    </nav>

    <h3 class="title">Search by Username</h3>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

    </div>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">DZ</th>

            <td>David Zhang</td>
            <td>Upcoming: Picnic at the Park</td>
            <td>Past Events: Concert</td>
            <td>4th Year</td>
            <td>
                <button type="button" class="addBtn">Add</button>
            </td>  </tr>
        <tr>
            <th scope="row">DZ</th>
            <td>David Zhang</td>
            <td>Upcoming: Picnic at the Park</td>
            <td>Past Events: Concert</td>
            <td>4th Year</td>
            <td>
                <button type="button" class="addBtn">Add</button>
            </td>  </tr>
        <tr>
            <th scope="row">DZ</th>
            <td>David Zhang</td>
            <td>Upcoming: Picnic at the Park</td>
            <td>Past Events: Concert</td>
            <td>4th Year</td>
            <td>
                <button type="button" class="addBtn">Add</button>
            </td>  </tr>
        <tr>
            <th scope="row">DZ</th>
            <td>David Zhang</td>
            <td>Upcoming: Picnic at the Park</td>
            <td>Past Events: Concert</td>
            <td>4th Year</td>
            <td>
                <button type="button" class="addBtn">Add</button>
            </td>

        </tr>
        </tbody>

    </table>

    </body>

