{% extends 'base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}"/>


    {% if user.is_authenticated %}
        <h3 style="text-align: center; padding: 25px">Welcome, {{ user.get_username }}. Thanks for logging in.</h3>
    {% else %}
        <h3 style="text-align: center; padding: 25px">Welcome, new user. Please log in.</h3>
    {% endif %}


    <div class="landing-tables">
        <table class="table">
            <tbody>
            <tr class="table-title">
                <td> You have 3 events coming up </td>
            <tr>
            <tr class="table-title">
                {% for key,value in upcoming_events.items %}
                    <tr class="table-title">
                        <td> {{ key}} <br> {{value }} </td>

                    <tr>
                {% endfor %}
            <tr>
            </tbody>

        </table>
        <table class="table">
            <tbody>
            <td class="table-title">Friend Recommendations</td>
            {% for key,value in friend_reqs.items %}
                    <tr class="table-title">
                        <td> {{ key}} {{value }}
                            <button  style="margin-left: 50px" type="button" class="addBtn">Add</button>

                        </td>
                    <tr>
            {% endfor %}

            </tbody>

        </table>
        <table class="table">
            <tbody>
            <tr class="table-title">
                <td> Event Recommendations </td>
            <tr>
            <tr class="table-title">
                {% for key,value in event_reqs.items %}
                    <tr class="table-title">
                        <td> {{ key}} <br> {{value }} </td>

                    <tr>
                {% endfor %}
            <tr>
            </tbody>

        </table>

    </div>

{% endblock %}